<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5">
      <h2>下書き一覧</h2>
      <p>投稿をクリック、編集ページから編集/公開、または削除できます。</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-lg-4 my-4">
              <%= render 'post-card', post: post %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto py-5 d-flex justify-content-center">
            <p><%= paginate @posts %></p>
          </div>
        </div>
    </div>
  </div>
</div>