<div class="container pb-5 mb-5">
  <div class="row d-flex flex-column mt-5">
    <h2><span class="public-title"><i class="far fa-copy"></i> 下書き一覧</span></h2>
    <p class="py-3">投稿をクリック、編集ページから編集/公開、または削除できます。</p>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-lg-4 my-4">
        <%= render 'post-card', post: post %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto py-5 d-flex justify-content-center">
      <p><%= paginate @posts %></p>
    </div>
  </div>
</div>