<div class="container">
  <div class="row">
    <div class="col-md-3 pt-5">
      <h2><span class="public-title"><i class="far fa-copy"></i> 投稿一覧</span></h2>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-4 my-4">
          <%= render 'post-card', post: post %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto py-5 d-flex justify-content-center">
        <p><%= paginate @posts %></p>
      </div>
    </div>
  </div>

