
.registration{
  background: linear-gradient(transparent 50%, #fce38a 50%);
}


.session{
  background: linear-gradient(transparent 50%, #a1de93 50%);
}


.admin-registration{
  background: linear-gradient(transparent 50%, #95e1d3 50%);
}