
.registration{
  background: linear-gradient(transparent 60%, #fce38a 40%);
}


.session{
  background: linear-gradient(transparent 60%, #a1de93 40%);
}


.admin-registration{
  background: linear-gradient(transparent 60%, #95e1d3 40%);
}