<div class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 mx-auto mt-5">
        <p class="about__title"><span class="about__title--span border-bottom border-dark"> AIRSUPPORT <i class="fas fa-plane"></i></span></p>
        <p class="about__body">あなたの旅をもっと楽しくさせる</p>
        <p class="about__body">コミュニティサイトです <i class="far fa-comments"></i></p>
      </div>
    </div>
    <div class="row card-bg my-5 d-flex justify-content-center">
      <div class="card border-light mt-5 mb-5 pt-3">
        <div class="cardBody text-center">
          <h4 class="cardBody__title"><span class="cardBody__title--span"><i class="far fa-smile"></i> 旅を1秒も無駄にすることなく楽しもう</span></h4>
          <p class="cardBody__text">
            旅行最終日に飛行機の時間までできることが限られている…<br>
            思わぬ遅延で空港で待ちぼうけ…という経験はありませんか？<br>
            空港周辺で時間や体力の心配をせずに、気軽に楽しむことができれば、<br>
            旅をもっと素敵なものにできるのではないかと考え、このサイトを作りました。
          </p>
        </div>
        <div class="cardBody text-center">
          <h4 class="cardBody__title"><span class="cardBody__title--span"><i class="far fa-share-square"></i> 思い出を共有、もっと充実</span></h4>
          <p class="cardBody__text">
            もっと旅行を楽しみたい！そんな気持ちの人はたくさんいます。<br>
            あなたの持っている素敵な情報を、ぜひAIRSUPPORTで発信してみませんか？<br>
            あなたの投稿が誰かの旅をもっと楽しくさせるかも…？<br>
            みんなで、今よりもっともっと旅行を充実させていきましょう！<br>
          </p>
        </div>
        <div class="cardBody text-center">
          <h4 class="cardBody__title"><span class="cardBody__title--span"><i class="fas fa-map-marker-alt"></i> 地元の魅力を発信しよう</span></h4>
          <p class="cardBody__text">
            空港の周辺に詳しいあなた！<br>
            ぜひAIRSUPPORTに投稿して、その魅力を発信してみてください。<br>
            素敵なカフェやレストラン、観光地など、どんな些細な情報でも<br>
            気軽にシェアして地域を盛り上げていきましょう！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>