@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
  background: #fffdfb;
}



// リンクの下線（全ページ共通）
a {
    text-decoration: none !important;
}

.link-border{
  padding-bottom: 5px;
  position: relative;
}

.link-border::before {
  background: #ff7f50;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.link-border:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}