// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// indexページ
.card{
  &__img-top{
    width: 100%;
    height: 300px;
  }
  &__title, &__text{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__posts-tags{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


// showページ
.post-title span, .comment-title{
  background: linear-gradient(transparent 80%, #ffb677 80%);
  padding: 0 8px;
  font-weight: bold;
}

.postRight{
  padding: 50px;
  background: #fef9d9;
  border-radius: 0px 75px 75px 75px;
}

#map {
  height: 500px;
  width: 100%;
}

// userページ
.card-img-top{
  width: 100%;
  height: 300px;
}