// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-img-top{
  width: 100%;
  height: 300px;
  // background-size: contain;
  // object-fit: cover;
}


.post-title span{
  background: linear-gradient(transparent 70%, #ffb677 30%);
  padding: 0 8px;
  font-weight: bold;
}

.comment-title span{
  background: linear-gradient(transparent 80%, #95e1d3 20%);
  // border-bottom: solid 5px #95e1d3;
  padding: 0 10px;
  font-weight: bold;
}

.posts-tags{
  font-size: 14px;
  margin-top: 10px;
}