
.registration{
  background: linear-gradient(transparent 80%, #fce38a 80%);
}


.session{
  background: linear-gradient(transparent 80%, #a1de93 80%);
}


.admin-registration{
  background: linear-gradient(transparent 80%, #95e1d3 80%);
}

.admin-title{
  background: linear-gradient(transparent 80%, #95e1d3 80%);
  padding: 0 5px;
}

.public-title{
  background: linear-gradient(transparent 80%, #ffb677 80%);
  padding: 0 5px;
}