// トップページ、投稿ページ以外のタイトルなどの下線

.registration, .public-title, .user-name{
  background: linear-gradient(transparent 80%, #ffb677 80%);
  padding: 0 5px;
}

.session{
  background: linear-gradient(transparent 80%, #a1de93 80%);
  padding: 0 5px;
}

.admin-registration, .admin-title{
  background: linear-gradient(transparent 80%, #95e1d3 80%);
  padding: 0 5px;
}
