// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ヘッダー
.logo{
  text-align: center;
  font-weight: bold;
  color: #444;
  &__maintitle{
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    }
  &__description{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;
    }
}


// カルーセル
.bgCarousel {
  height: 470px;
  width: 100%;
  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px 18px 190px 0px / 0px 0px 160px 0px;
    width: 100%;
    height: 100%;
    &:nth-child(1) {
      background-image: url("../images/mv1.jpg");
    }
    &:nth-child(2) {
      background-image: url("../images/mv2.jpg");
    }
    &:nth-child(3) {
      background-image: url("../images/mv3.jpg");
    }
  }
  &__mv-title {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  &__caption{
    &--bg{
      background-color: white;
      padding: 50px;
      color: black;
      border-radius: 0px 75px 0px 75px;
      opacity: 0.7;
    }
  }
}


// トップメイン
.topMain{
  width: 100%;
  &__about{
    font-weight: bold;
  }
  &__body{
    font-weight: bold;
    &--span{
      font-weight: bold;
      font-size: larger;
    }
  }
}

// aboutとsearchのボタン
.topLink{
  &__btn{
    background: #fff;
    border: 2px solid #ff7f50;
    border-radius: 60px;
    color: #ff701e;
    padding: 10px;
    font-weight: bold;
  }
    &__btn:hover{
    background: #ff7f50;
    color: #fff;
  }
}


// NEW POST部分
.newPosts{
  background: #fef9d9;
  border-radius: 75px 0px 75px 75px;
  &__col{
    background: white;
    padding: 20px;
  }
  &__span{
    font-weight: bold;
    padding: 0 10px;
  }
  &__img-fluid{
    width: 100%;
    height: 100%;
  }
  &__btn{
    background: #ff7f50;
    border: 2px solid #ff7f50;
    border-radius: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 0.85rem;
  }
    &__btn:hover{
    background: #fff;
    color: #ff701e;
  }
}

.weeklyPosts{
  font-weight: bold;
  padding: 0 10px;
}

// 会員登録説明
.topGuidance{
  background: #fef9d9;
  border-radius: 0px 75px 75px 75px;
  &__col{
    background: white;
    padding: 20px;
  }
  &__title{
    font-weight: bold;
    font-size: 1.7rem;
    &--span{
      color: #ff7f50;
    }
  }
  &__body li{
    line-height: 2.5rem;
  }
}


// アバウトページ
.card-bg{
  background: #fef9d9;
  border-radius: 0px 75px 75px 75px;
}

.about{
  &__title{
    font-weight: bold;
    font-size: 40px;
    &--span{
      color: #ff7f50;
    }
  }
  &__body{
    font-weight: bold;
    font-size: 20px;
  }
}

.cardBody{
  padding: 20px;
  &__title{
    font-weight: bold;
    &--span{
      background: linear-gradient(transparent 60%, #ffb677 80%);
      padding: 0 10px;
    }
  }
  &__text{
    line-height: 2em;
  }
}



// レスポンシブ
@media screen and (max-width: 768px) {
  .logo{
    &__maintitle{
      font-size: 17px;
    }
    &__description{
      font-size: 10px;
    }
  }
  .bgCarousel{
    &__mv-title{
      font-size: 20px;
    }
    &__mv-body{
      font-size: 15px;
    }
  }

  .topMain{
    margin-top: 30px;
    &__about {
      font-size: 30px;
    }
    &__body{
      font-size: 17px;
    }
  }
  .topGuidance{
    border-radius: 0px 50px 50px 50px
    &__row{
      padding: 15px;
    }
    &__title{
      font-size: 1.15rem;
    }
  }
  .card-bg{
    border-radius: 0px;
  }
}




// JavaScript
// トップに戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

