<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto pt-5">
      <h3><span class="public-title"><i class="fas fa-bookmark"></i> ブックマーク一覧</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto pt-5">
      <table class="table">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>タイトル</th>
            <th></th>
          </tr>
        </thead>
        <tbody style="line-height: 3;">
          <% @bookmark_posts.each do |post| %>
            <tr class="position-relative">
              <td><%= post.user.name %></td>
              <td><%= post.title %></td>
              <td><%= link_to '詳細', post_path(post), class: 'btn btn-other' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


