<div class="container">
  <div class="col-md-8 mx-auto pt-5 mt-5">
    <div class="text-center h1">
      <i class="fas fa-exclamation-triangle text-danger"></i> 本当に退会しますか？
    </div>
    <div class="text-center pt-5 h4">
      今までの投稿やブックマークが全て削除されてしまいます
    </div>
    <div class ="text-center py-5">
      <%= link_to "いいえ", user_path(@user.id), class: 'btn btn-outline-primary' %>
      <%= link_to "退会する", user_path(@user.id), method: :delete, class: 'btn btn-danger ml-5' %>
    </div>
  </div>
</div>


