      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>空港周辺の情報を集めたコミュニティサイト</p>
            <a class="navbar-brand p-3 text-dark" href="/">
              <h4 class="logo">
                <span class="maintitle">AIRSUPPORT</span>
                <span class="description">Enjoy Trip More!!!
                  <i class="fas fa-plane-departure"></i>
                </span>
              </h4>
            </a>
            <!--%= image_tag('logo-white.png') %>-->
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-black-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-black-50">プライバシーポリシー</a>
              </li>
              <li>
                <%= link_to '管理者ページ', new_admin_session_path, class: 'text-black-50' %>
              </li>
            </ul>
          </div>
        </div>
      </div>